<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password-strength-checker</title>
</head>
<style>
    .form1 input{
        margin-top: 100px;
        margin-bottom: 50px;
        height: 50px;
        width: 450px;
        border: 2px solid black;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .button1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <div class="container">

        <form action="/" method="POST">
            <div class="form1">
              
              <input class="form-control" placeholder="Check your Password ...." id="email" name="email" rows="15" cols="80" required></input>
              
            </div>
            <div class="button1">
    
              <button class="button-29" role="button">Check</button>
            </div>
         
    
        </form>
    
</body>
</html>